<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <title>ZTM | Ascii Art</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand"
           href="/"
           style="display: flex; align-items: center">
            <img src="https://avatars.githubusercontent.com/u/35373879?s=280&v=4"
                 alt="Logo"
                 height="35px"
                 class="d-inline-block align-text-top mx-4"/>
            ZTM - Ascii Art
        </a>
        <a class="btn btn-primary btn-sml"
           href="https://github.com/zero-to-mastery/ascii-art-2021"
           role="button"
           target="_blank">Learn more on Github</a>
    </div>
</nav>

<div class="container my-4">
    <div class="jumbotron mt-4 pt-3 pb-3">
        <p class="lead">
            A web application that converts uploaded images into beautiful Ascii Art!
        </p>
        <form action="./generate" enctype="multipart/form-data" method="POST">
            <div class="input-group input-group-sm">
                <label for="choosefile" class="button"></label>
                <input type="file" name="file1" id="choosefile" class="form-control" accept="image/*">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>

    <div>
        {% with msgs = get_flashed_messages(with_categories=true) %}
            {% for cat, msg in msgs %}
                <div class="alert alert-{% if cat == 'error' %}danger{% else %}success{% endif %}"
                     role="alert">
                    {{ msg }}
                </div>
            {% endfor %}
        {% endwith %}
    </div>
    <div class="button-container" height: 10px>
        <form style="display: inline;" action="./download_text_file" enctype="multipart/form_data" method="POST">
            <button type="submit" class="btn-sml">Download as text file</button>
        </form>
        <form style="display: inline;" action="./download_png" enctype="multipart/form_data" method="POST">

            <button type="submit" class="btn-sml">Download as png file</button>
        </form>
        Converted image: {{ filename }}
    </div>

    <!--Image container-->
    <div class="container text-center border rounded border-dark mx-auto" style="width: 100%;">
        <h1 style="font-family: monospace; font-weight: bold;
          white-space: pre; font-size: 0.25rem;" id="the_text">{{ image }}</h1>
    </div>
    <!--CONTAINER END-->
</div>
</body>
</html>
