<html>
<head>
    <!--Meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
    <body>
        <!--Nav-->
        <nav class="navbar navbar-light bg-light mb-5">
            <div class="container-fluid">
              <a class="navbar-brand" href="/" style="display: flex; align-items: center;">
                <img 
                  src="https://avatars.githubusercontent.com/u/35373879?s=280&v=4" 
                  alt="Logo" 
                  height="35px" 
                  class="d-inline-block align-text-top mx-4"
                >
                ZTM - Ascii Art
              </a>
            </div>
          </nav>
        <!--Image container-->
        <div class="container text-center border rounded border-dark mx-auto" style="width: 100%;">
            <h1 style = "font-family: monospace; font-weight: bold;
            white-space: pre; font-size: 0.25rem;" id="the_text" >{{image}}</h1>
        </div>
        <!--Form-->
        <div class="container mt-2 m-4">
          <form action="#" method="POST">
              <div class="mb-3">
                <button class="btn btn-success" onclick="alert('Image downloaded');">Download Image</button>
                <p>Saves the image in root directory of the project.</p>
            </div>
          </form>
        </div>
    </body>
    <!--Script-->
    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    </html>